{% extends 'base.html' %} 

{% block title %} Project {% endblock %} <!-- Esse trecho de códgio vai ser inserido dentro de base.html onde tem esse block title-->

{% block main%} <!-- Todo esse código será inserido dentro do block main de base.html, e automaticamente ganhamos o html que se encontra por lá -->

    <div class="row">
        <div class="col-10">

        </div>

        
        <div class="col-sm">
            {% if user.is_authenticated %}
                <p>Ola {{user.username}} 
                <a href="{% url 'logout' %}">
                    <i class="fa fa-power-off" aria-hidden="true"></i>
                </a>
            {% endif %}

        </div>

    </div>

    <div class="col-4">

        <ul class="list-group"> 
            <li class="list-group-item active">Lista de usuários</li> 
            {% for person in persons %}            
            <li class="list-group-item">
            <a href="{% url 'person_update' person.id %}"> {{ person }}</a>
            <a href="{% url 'person_delete' person.id %}" class="trash-item"> 
                <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
            </li>
    
            {% endfor %}
        </ul>

        <br>
    
        <a class="btn btn-primary" href="{% url 'person_new' %}">Novo usuário</a>

    </div> 


    
    
{%endblock %}

    {% block footer %}
        <footer class="footer">
            <div class="container-fluid">
                <span class="text-muted">Desenvolvimento web com django 3.x</span>
            </div>
        </footer>
    {% endblock %}
