{% extends 'base.html' %} 

{% load bootstrap %} <!-- Carregando bootstrap como mostra a documentação -->

{% block title %} Project {% endblock %} <!-- Esse trecho de códgio vai ser inserido dentro de base.html onde tem esse block title-->

{% block main %} <!-- Todo esse código será inserido dentro do block main de base.html, e automaticamente ganhamos o html que se encontra por lá -->

    
    
    <h1>Criar novo usuário</h1> 
    <div class="jumbotron">
    <form method='POST' enctype="multipart/form-data"> <!--POST, utilizado para enviar informações para algum lugar.-->
        {% csrf_token %} <!--Proteção automatica que o django nos prove para evitar que as pessoas evitem manipular nosso formulario-->
        {{ form|bootstrap  }} <!-- Personalização do form -->
        <br><br> <!--Form que vem da nossa view-->
        <button class="btn btn-success" type="submit">Salvar</button> 
        <a class="btn btn-primary" href="{% url 'person_list'%}">Cancelar</a> 
    </form>
    </div>

    
{% endblock %}
